@page
@model             IdentityService.Pages.Home.Error.Index

<div class="error-page">
    <div class="lead">
        <h1>Помилка</h1>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="alert alert-danger">
                Перепрошуємо, сталася помилка
            </div>
        </div>
    </div>
</div>
