@page
@model IdentityService.Pages.Account.AccessDeniedModel
@{
}
<div class="row">
    <div class="col">
        <h1>Доступ заблоковано</h1>
        <p>Ви не маєте прав на доступ до цієї сторінки.</p>
    </div>
</div>