@page
@model IdentityService.Pages.Account.Register.SuccessModel
@{
}

<partial name="_ValidationSummary" />

@if (Model.IsResent)
{
    <div class="alert alert-success" style="text-align: center;">
        <div>Лист успішно надіслано повторно</div>
    </div>
}

<div class="container text-center">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-center">
                        <img src="~/logo.png" height="30" alt="Логотип" class="mr-2">
                        <h4 class="mb-2">Seminarium</h4>
                    </div>

                    <h2 class="card-title mt-4">Дякуємо за реєстрацію, майже все.</h2>
                    <p class="card-text mt-4">Будь ласка, перейдіть до поштової скриньки <b>@Model.Email</b> та підтвердіть реєстрацію.</p>
                    <form method="post" class="mt-2">
                        <input type="hidden" asp-for="Email" value="@Model.Email" />
                        <button type="submit" class="btn btn-primary">Надіслати лист підтвердження реєстрації повторно</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>